// Cores
$color-primary: #0A1128;
$color-secondary: #DC143C;
$color-white: #FFFFFF;
$color-mediumGrey: #DDDDDD;

// Tamanhos de fonte
$font-size-xsmall: 8rem;
$font-size-small:1.6rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.2rem;
$font-size-xlarge: 4rem;
$font-size-xxxlarge: 4.8rem;
$font-size-huge: 5.6rem;
$font-size-xhuge: 6.4rem;
